.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  width: 100vw;
  height: 8vh;
  height: calc(var(--vh, 1vh) * 8);
  box-shadow: 0px 0px 5px var(--color-1);

  color: white;
}

.footer-element {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.footer-element__text {
  display: flex;
  align-items: center;
  margin: 0 0.75rem 0 0.75rem;
}

.footer-element__link {
  color: white;
  text-decoration: none;
}

.footer-element__link:hover {
  text-decoration: underline;
}

.icon {
  height: 32px;
  width: 32px;
}

.icon-doc {
  background-image: url("../images/icon_doc.svg");
}

.icon-mail {
  background-image: url("../images/icon_mail.svg");
}

.icon-git {
  background-size: 80%;
  background-image: url("../images/GitHub-Mark-Light-64px.png");
  background-repeat: no-repeat;
  background-position: center;
}
